name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DB_HOST: ${{ secrets.DB_HOST }}
      DB_USER: ${{ secrets.DB_USER }}
      DB_PASS: ${{ secrets.DB_PASS }}
      DB_NAME: ${{ secrets.DB_NAME }}
      BREVO_PASS: ${{ secrets.BREVO_PASS }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.1
        extensions: mysqli, xdebug

    - name: Install dependencies
      run: composer install

    - name: Run PHPUnit
      run: ./vendor/bin/phpunit --coverage-clover coverage.xml tests/

    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      with:
        projectKey: kirrril_DarwinsGym_API
        organization: kirrril
        token: 686da240945df51c7df18c0554b69642d7ba4742
